node_modules/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

build/
temp/
dist/

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local