{% extends 'index.njk' %}

{% block title %} | {{ game.name }}{% endblock title %}

{% block content %}
			<h1>{{ game.name }}</h1>
			<div class="statistics">
				{% for stat in game.stats %}
				<div class="statistic">
					<div class="information">
						{% if stat.icon %}
							<img class="icon" src="{{ stat.icon }}" alt="{{ stat.name }}">
						{% endif %}
						<h2 class="name">{{ stat.name }}</h2>
						{% if stat.description %}
							<p class="description">{{ stat.description }}</p>
						{% endif %}
					</div>
					{% for achievement in stat.achievement %}
							<div class="achievement">
								<span>x{{ achievement.score }}</span>
								{% if (achievement.type == "icon") %}
									<span>
										<img src="{{ achievement.url }}" alt="{{ achievement.description }}">
									</span>
								{% elif (achievement.type == "title") %}
									<span>{{ achievement.title }}</span>
								{% else %}
									<span class="default">{{ achievement.description }}</span>
								{% endif %}
								<span>+{{ ((achievement.npoints * 2) | round ) / 2 }}</span>
							</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
{% endblock content %}