{% extends 'index.njk' %}

{# soon i18n #}
{% block title %} - All games{% endblock title %}

{% block content %}
    <h1>Game</h1> {# soon i18n #}
    {% for game in games %}
        <a href="/game/{{ game.id }}">{{ game.name }}</a>
    {% endfor %}
{% endblock content %}