{% extends 'index.njk' %}

{% block title %} - All games{% endblock title %} {# soon i18n #}

{% block content %}
            <h1>Game</h1> {# soon i18n #}
            <nav class="secondary">
                <a data-game="all" class="selected">All Games</a> {# soon i18n #}
                <a data-game="de">Deutsch</a>
                <a data-game="en">English</a>
                <a data-game="es">Español</a>
                <a data-game="fr">Français</a>
            </nav>
        {% if (games.length > 0) %}
            <div class="cards">
            {% for game in games %}
                <div class="game-card">
                    <div class="game-card-head">
                        <img src="{{ game.cover }}" alt="{{ game.name }}">
                        <div class="infos">
                            <h2>{{ game.name }}</h2>
                            <table>
                                <tbody>
                                    <tr><td>{{ game.stat }}</td><td>statistiques</td></tr> {# soon i18n #}
                                    <tr><td>{{ game.achievement }}</td><td>récompenses</td></tr> {# soon i18n #}
                                    <tr><td>{{ game.score }}</td><td>points</td></tr> {# soon i18n #}
                                    <tr><td>{{ game.player }}</td><td>joueurs</td></tr> {# soon i18n #}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="progress">
                        {% set percent = game.score / 10 %}
                        <div class="bar" style="width: {{ percent if (percent <= 100) else 100 }}%"></div>
                    </div>
                    <a href="/{{ locale }}/game/{{ game.id }}">Pictos</a>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>No games found.</p>
        {% endif %}
{% endblock content %}