{% from "./component/cover.njk" import gameCover %}
{% extends 'index.njk' %}

{% block title %} | {{ 'home.game' | translate }}{% endblock title %}

{% set selected = "all" %}
{% if user %}
	{% set selected = locale %}
{% endif %}

{% set menu = [
	["all", "home.allgame" | translate],
	["de", "Deutsch"],
	["en", "English"],
	["es", "Español"],
	["fr", "Français"]
] %}

{% block content %}
			<h1>{{ 'home.game' | translate }}</h1>
			<nav class="secondary">
				{% for link in menu %}
					{% if link[0] == selected %}
						<a data-game="{{ link[0] }}" class="selected">{{ link[1] }}</a>
					{% else %}
						<a data-game="{{ link[0] }}">{{ link[1] }}</a>
					{% endif %}
				{% endfor %}
			</nav>
			{% if (games.length > 0) %}
				<div class="games">
					{% for game in games %}
						{% if selected == "all" or (not game.lang) or game.lang == selected %}
							{{ gameCover(game, locale) }}
						{% endif %}
					{% endfor %}
				</div>
				<div class="hgames">
					{% for game in games %}
						{% if selected != "all" and game.lang and game.lang != selected %}
							{{ gameCover(game, locale) }}
						{% endif %}
					{% endfor %}
				</div>
			{% else %}
				<p>{{ 'home.nogame' | translate }}</p>
			{% endif %}
{% endblock content %}