{% set contributors = [{
	name: "Angelisium",
	profile: "https://twinoid.com/user/9960594"
},{
	name: "TheToto",
	profile: "https://twinoid.com/user/121864"
}] %}

{% set betaTester = [{
	name: "Azaml",
	profile: "https://twinoid.com/user/2072719"
}] %}

{% macro formatUser(arr) %}
	{% for user in (arr | randlist) %}
		{% set spacing = '' %}
		{% if (loop.index == (loop.length - 1)) %}
			{% set spacing = ' ' + ('keyword.and' | translate) + ' ' %}
		{% elif (loop.index != loop.length) %}
			{% set spacing = ', ' %}
		{% endif %}
		{% if user.profile %}<a href="{{ user.profile }}">{% endif %}{{ user.name }}{% if user.profile %}</a>{% endif %}{{ spacing }}
	{% endfor %}
{% endmacro %}

{% macro credit() %}
{% set adj = ('common.credit.pictoid.adjective' | translate) | random %}
{% set ctr = formatUser(contributors) | ultratrim %}
{% set bus = formatUser(betaTester)   | ultratrim %}
{{ ('common.credit.pictoid.sentence' | translate(ctr, adj, bus)) | safe }}{% endmacro %}